In [3]:
import numpy as np 
import pandas as pd
import pickle

In [4]:
df = pd.read_csv('/Users/home/Documents/GitHub/FormulaAIHacks/weather.csv',low_memory=False)

In [5]:
df

,M_PACKET_FORMAT,M_GAME_MAJOR_VERSION,M_GAME_MINOR_VERSION,M_PACKET_VERSION,M_PACKET_ID,M_SESSION_UID,M_SESSION_TIME,M_FRAME_IDENTIFIER,M_PLAYER_CAR_INDEX,M_SECONDARY_PLAYER_CAR_INDEX,...,M_AI_DIFFICULTY,M_PIT_SPEED_LIMIT,M_NETWORK_GAME,M_TOTAL_LAPS,M_STEERING_ASSIST,M_IS_SPECTATING,M_DYNAMIC_RACING_LINE,M_DRSASSIST,M_NUM_MARSHAL_ZONES,Unnamed: 58
0,2021,1,14,1,1,13002103581294142936,2803.836,82458,0,255,...,0,80,0.0,200.0,0.0,0.0,0.0,0.0,16.0,NaN
1,2021,1,14,1,1,13002103581294142936,2803.836,82458,0,255,...,0,80,0.0,200.0,0.0,0.0,0.0,0.0,16.0,NaN
2,2021,1,14,1,1,13002103581294142936,2803.836,82458,0,255,...,0,80,0.0,200.0,0.0,0.0,0.0,0.0,16.0,NaN
3,2021,1,14,1,1,13002103581294142936,2803.836,82458,0,255,...,0,80,0.0,200.0,0.0,0.0,0.0,0.0,16.0,NaN
4,2021,1,14,1,1,13002103581294142936,2803.836,82458,0,255,...,0,80,0.0,200.0,0.0,0.0,0.0,0.0,16.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3572323,2021,1,14,1,1,10862815468833217499,683.047,22874,1,255,...,110,80,1.0,200.0,0.0,0.0,0.0,0.0,16.0,NaN
3572324,2021,1,14,1,1,10862815468833217499,683.047,22874,1,255,...,110,80,1.0,200.0,0.0,0.0,0.0,0.0,16.0,NaN
3572325,2021,1,14,1,1,10862815468833217499,683.047,22874,1,255,...,110,80,1.0,200.0,0.0,0.0,0.0,0.0,16.0,NaN
3572326,2021,1,14,1,1,10862815468833217499,683.047,22874,1,255,...,110,80,1.0,200.0,0.0,0.0,0.0,0.0,16.0,NaN
3572327,2021,1,14,1,1,10862815468833217499,683.047,22874,1,255,...,110,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = df[(df['M_NUM_WEATHER_FORECAST_SAMPLES'] != 0) & (df['M_WEATHER_FORECAST_SAMPLES_M_SESSION_TYPE'] != 0)]

In [7]:
df = df.drop([
    'M_PACKET_FORMAT', 
    'M_GAME_MAJOR_VERSION',  
    'M_GAME_MINOR_VERSION',  
    'M_PACKET_VERSION', 
    'M_PACKET_ID', 
    'M_SECONDARY_PLAYER_CAR_INDEX',
    'M_SLI_PRO_NATIVE_SUPPORT', 
    'Unnamed: 58',
    'GAMEHOST',
    'M_SESSION_UID',
    'M_SESSION_TIME',
    'M_FRAME_IDENTIFIER',
], axis=1)

In [8]:
pd.to_datetime(df['TIMESTAMP'], unit='s')

17017     2022-01-21 00:16:50
17018     2022-01-21 00:16:50
17019     2022-01-21 00:16:50
17020     2022-01-21 00:16:50
17021     2022-01-21 00:16:50
                  ...
3572287   2022-01-15 23:14:51
3572288   2022-01-15 23:14:51
3572289   2022-01-15 23:14:51
3572290   2022-01-15 23:14:51
3572291   2022-01-15 23:14:51
Name: TIMESTAMP, Length: 1393074, dtype: datetime64[ns]

In [9]:
df_subset = df[['TIMESTAMP', 'M_AIR_TEMPERATURE','M_TIME_OFFSET'] + df.columns.tolist()[31:39]]
'rows with na:', df_subset.shape[0] - df_subset.dropna().shape[0]

('rows with na:', 748671)

In [10]:
df_subset

,TIMESTAMP,M_AIR_TEMPERATURE,M_TIME_OFFSET,M_WEATHER_FORECAST_SAMPLES_M_WEATHER,M_WEATHER_FORECAST_SAMPLES_M_TRACK_TEMPERATURE,M_TRACK_TEMPERATURE_CHANGE,M_WEATHER_FORECAST_SAMPLES_M_AIR_TEMPERATURE,M_AIR_TEMPERATURE_CHANGE,M_RAIN_PERCENTAGE,M_WEATHER,M_AI_DIFFICULTY
17017,1.642724e+09,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,31
17018,1.642724e+09,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,31
17019,1.642724e+09,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,31
17020,1.642724e+09,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,31
17021,1.642724e+09,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,31
...,...,...,...,...,...,...,...,...,...,...,...
3572287,1.642288e+09,25,10.0,0.0,33.0,2.0,25.0,2.0,3.0,0,110
3572288,1.642288e+09,25,15.0,0.0,33.0,2.0,25.0,2.0,3.0,0,110
3572289,1.642288e+09,25,30.0,0.0,33.0,2.0,25.0,2.0,3.0,0,110
3572290,1.642288e+09,25,45.0,0.0,33.0,2.0,25.0,2.0,3.0,0,110
3572291,1.642288e+09,25,60.0,0.0,32.0,1.0,25.0,2.0,3.0,0,110

In [11]:
from sklearn import preprocessing

x = df_subset.drop(['M_WEATHER', 'TIMESTAMP'], axis=1).values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)

df_norm = pd.DataFrame(x_scaled, columns=df_subset.drop(['M_WEATHER', 'TIMESTAMP'], axis=1).columns.tolist())
df_norm['TIMESTAMP'] = pd.to_datetime(df_subset['TIMESTAMP'], unit='s', dayfirst=True).reset_index(drop=True)
df_norm['M_WEATHER'] = df_subset['M_WEATHER'].reset_index(drop=True)
df_norm = df_norm.set_index('TIMESTAMP')
df_norm

,M_AIR_TEMPERATURE,M_TIME_OFFSET,M_WEATHER_FORECAST_SAMPLES_M_WEATHER,M_WEATHER_FORECAST_SAMPLES_M_TRACK_TEMPERATURE,M_TRACK_TEMPERATURE_CHANGE,M_WEATHER_FORECAST_SAMPLES_M_AIR_TEMPERATURE,M_AIR_TEMPERATURE_CHANGE,M_RAIN_PERCENTAGE,M_AI_DIFFICULTY,M_WEATHER
TIMESTAMP,,,,,,,,,,
2022-01-21 00:16:50,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
2022-01-21 00:16:50,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
2022-01-21 00:16:50,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
2022-01-21 00:16:50,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
2022-01-21 00:16:50,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
...,...,...,...,...,...,...,...,...,...,...
2022-01-15 23:14:51,0.666667,0.083333,0.0,0.8125,1.0,0.666667,1.0,0.021739,1.0,0
2022-01-15 23:14:51,0.666667,0.125000,0.0,0.8125,1.0,0.666667,1.0,0.021739,1.0,0
2022-01-15 23:14:51,0.666667,0.250000,0.0,0.8125,1.0,0.666667,1.0,0.021739,1.0,0
2022-01-15 23:14:51,0.666667,0.375000,0.0,0.8125,1.0,0.666667,1.0,0.021739,1.0,0
2022-01-15 23:14:51,0.666667,0.500000,0.0,0.7500,0.5,0.666667,1.0,0.021739,1.0,0

In [12]:
df_norm['M_WEATHER'] = df_norm['M_WEATHER'].apply(lambda x: str(x))
df_norm

,M_AIR_TEMPERATURE,M_TIME_OFFSET,M_WEATHER_FORECAST_SAMPLES_M_WEATHER,M_WEATHER_FORECAST_SAMPLES_M_TRACK_TEMPERATURE,M_TRACK_TEMPERATURE_CHANGE,M_WEATHER_FORECAST_SAMPLES_M_AIR_TEMPERATURE,M_AIR_TEMPERATURE_CHANGE,M_RAIN_PERCENTAGE,M_AI_DIFFICULTY,M_WEATHER
TIMESTAMP,,,,,,,,,,
2022-01-21 00:16:50,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
2022-01-21 00:16:50,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
2022-01-21 00:16:50,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
2022-01-21 00:16:50,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
2022-01-21 00:16:50,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
...,...,...,...,...,...,...,...,...,...,...
2022-01-15 23:14:51,0.666667,0.083333,0.0,0.8125,1.0,0.666667,1.0,0.021739,1.0,0
2022-01-15 23:14:51,0.666667,0.125000,0.0,0.8125,1.0,0.666667,1.0,0.021739,1.0,0
2022-01-15 23:14:51,0.666667,0.250000,0.0,0.8125,1.0,0.666667,1.0,0.021739,1.0,0
2022-01-15 23:14:51,0.666667,0.375000,0.0,0.8125,1.0,0.666667,1.0,0.021739,1.0,0
2022-01-15 23:14:51,0.666667,0.500000,0.0,0.7500,0.5,0.666667,1.0,0.021739,1.0,0

In [13]:
df_norm.dropna(inplace=True)

In [14]:
df = df_norm
Y = df['M_RAIN_PERCENTAGE']
X = df.drop(columns=['M_RAIN_PERCENTAGE'],inplace=False)

In [15]:
from sklearn.model_selection import train_test_split
X, X_test, y, y_test = train_test_split(X,Y,test_size = 0.2,train_size = 0.8,random_state = 42)
X_train, X_cv, y_train, y_cv = train_test_split(X,y,test_size = 0.25,train_size = 0.75,random_state = 42)

In [16]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators = 10, random_state = 0)
model.fit(X_train,y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [17]:
from numpy import mean
from numpy import std
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
cv = KFold(n_splits=10, random_state=1, shuffle=True)
n_scores = cross_val_score(model, X_cv, y_cv, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1, error_score='raise')
# report performance
print('MAE: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

MAE: -0.002 (0.000)

In [18]:
from sklearn.metrics import mean_squared_error
predictions = model.predict(X_test)
MSE = mean_squared_error(y_test,predictions)
print(MSE)

2.2057835662498397e-05

In [19]:
row = X.iloc[1].to_numpy().reshape(1,-1)
yhat = model.predict(row)
print('predicted rain probability is',yhat)

predicted rain probability is [0.02121813]

/Users/home/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [20]:
filename = "finalized_randomforest_regressor_model.sav"
pickle.dump(model, (open(filename, "wb")))